<table class="list-table">
    <tr class="list-table-header">
        <td 
            *ngFor="let head of header"
            [ngStyle]="{'width.percent': head.Width}"
        >{{ head.Name }}</td>
    </tr>
    <tr class="list-table-body" *ngFor="let meat of content">
        <td style="width: 30%;">{{ meat.Name }}</td>
        <td style="width: 15%;">{{ meat.Weight }}g</td>
        <td style="width: 15%;">{{ meat.Kcal }}</td>
        <td style="width: 15%;">{{ meat.Protein }}g</td>
        <td style="width: 15%;">{{ meat.Fats }}g</td>
        <td style="width: 10%;" (click)="onDeleteItem(meat)">Usuń</td>
    </tr>
    <tr class="list-table-summary" *ngIf="content.length !== 0">
        <td style="width: 30%; font: bolder;">{{ summary.Name }}</td>
        <td style="width: 15%; font: bolder;">{{ summary.Weight }}g</td>
        <td style="width: 15%; font: bolder;">{{ summary.Kcal }}</td>
        <td style="width: 15%; font: bolder;">{{ summary.Protein }}g</td>
        <td style="width: 15%; font: bolder;">{{ summary.Fats }}g</td>
        <td style="width: 10%;"></td>
    </tr>
</table>
