<div class="header sticky">
    <div class="header-title">
        <span>Barf your dog</span>
    </div>
</div>

<div class="content">
    <div class="dog-info">
        <app-dog-info
        [dogInfo]="lastDogWeight"
        (weightOutput)="setDogInfo($event)"
        (dailyOutput)="setDogInfo($event)"
        (targetOutput)="setDogInfo($event)"
        (dailyMealOutput)="setDailyMeal($event)"
        ></app-dog-info>
    </div>
    <div class="suplies-selection">
        <app-select-suplies
            [changeVisible]="toggleComponentMeat"
            (setSuplies)="setSelectedSuplies($event)"
        ></app-select-suplies>
    </div>
    <div class="results">
        <app-final-results
            [supliesArr]="supliesMixArr"
        ></app-final-results>
    </div>
    <div class="percent">
        <app-meat-percent
            [mealWeight]="dailyMeal / 2"
        ></app-meat-percent>
    </div>
</div>
