<div class="dog-info-component" *ngIf="isVisible; else closedTab">
    <div class="dog-info-section">
        <div class="dog-info-section-header" (click)="isVisible = !isVisible">
            <div class="header-name">{{ dogInformation?.Name }} </div>
              Informacje</div>
        <div class="dog-info-section-content" style="position:relative">
            <div class="row" style="justify-content: center;" >
                <div class="content-daily content-input">
                    <span style="margin-left: 8px;">Dawka dzienna</span>
                    <input disabled type="number" placeholder="gram" value="{{ dailyMeal }}">
                </div>
                <div class="content-dry-meal content-input">
                    <span style="margin-left: 20px;">Sucha masa</span>
                    <input disabled type="number" placeholder="gram" value="{{ dryMeal }}">
                </div>
                <div class="content-single-meal content-input">
                    <span style="margin-left: 5px;">Gram na porcję</span>
                    <input disabled type="number" placeholder="gram" value="{{ singleMeal }}">
                </div>
            </div>
            <div class="row" style="margin-top: 10px; justify-content: center">              
                <div class="content-daily-meal content-input" style="width: 160px;">
                    <span>% masy docelowej</span>
                    <input type="number" #dailyInput placeholder="%" value="{{ targetWeightPerc }}" (keyup)="inputToggle('daily')">
                </div>
                <div class="content-meal-nr content-input">
                    <span style="margin-left: 40px;">Porcje</span>
                    <input type="number" #mealNr value="{{ nrOfMeals }}" (keyup)="inputToggle('meal-nr')">
                </div>
            </div>
            <div class="row" style="margin-top: 10px; justify-content: center">
                <div class="content-weight content-input">
                    <span style="margin-left: 40px;">Waga</span>
                    <input type="number" #weightInput placeholder="kg" value="{{ dogInformation.Weight }}" (keyup)="inputToggle('weight')" *ngIf="dogInformation.Weight">
                </div>
                <div class="content-target content-input" style="width: 150px;">
                    <span style="margin-left: 5px;">Docelowa masa</span>
                    <input type="number" #targetInput placeholder="kg" value="{{ targetWeight }}" (keyup)="inputToggle('target')">
                </div>               
            </div>
        </div>
    </div>
</div>

<ng-template #closedTab>
    <div class="dog-info-section" (click)="isVisible = !isVisible">
        <div class="dog-info-section-header" (click)="isVisible = !isVisible">
            <div class="header-name">{{ dogInformation?.Name }} </div>
              Informacje</div>
    </div>
    <div class="dog-info-section-content">
        <div class="row" style="justify-content: center;" >
            <div class="content-daily content-input">
                <span style="margin-left: 8px;">Dawka dzienna</span>
                <input disabled type="number" placeholder="gram" value="{{ dailyMeal }}">
            </div>
            <div class="content-dry-meal content-input">
                <span style="margin-left: 20px;">Sucha masa</span>
                <input disabled type="number" placeholder="gram" value="{{ dryMeal }}">
            </div>
            <div class="content-single-meal content-input">
                <span style="margin-left: 5px;">Gram na porcję</span>
                <input disabled type="number" placeholder="gram" value="{{ singleMeal }}">
            </div>
        </div>
    </div>
</ng-template>
