:host {
    max-width: 320px;
}

.warning-dialog {
    position: absolute;
    width: 60%;
    height: 150px;
    border-radius: 5px;
    border: 2px solid black;
    margin: auto;
    z-index: 99;
    top: 40%;
    left: 20%;
    background-color: #FFFF;
}

.warning-dialog-header {
    width: calc(100% + 2px);
    height: 30px;
    background-color: #0982C7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-left: 20px;
    padding-top: 4px;
    font-size: 15px;
    font-weight: 500;
    margin-top: -1px;
    margin-left: -1px;
}

.warning-dialog-content > .warning-dialog-content-text {
    margin: 20px;
    font-size: 20px;
}

.warning-dialog-content-buttons {
    float: right;
}

.modal-btn {
    float: left;
    margin-bottom: 0px;
}

.modal-btn > button {
    width: 75px;
    height: 32px;
    border-radius: 5px;
}

.discard {
    margin-right: 20px;
}

.discard > button {
    background-color: #464141;
}

.confirm {
    margin-right: 10px;
}

.confirm > button {
    background-color: #FF0303;
}