<div class="warning-dialog">
    <div class="warning-dialog-header">
        <span>{{ headerText }}</span>
    </div>
    <div class="warning-dialog-content">
        <div class="warning-dialog-content-text">
            {{ contentText }}
        </div>
        <div class="warning-dialog-content-buttons">
            <div class="warning-dialog-discard-btn modal-btn discard" *ngIf="discardBtnText">
                <button (click)="discardWindow">{{ discardBtnText }}</button>
            </div>
            <div class="warning-dialog-confirm-btn modal-btn confirm">
                <button (click)="confirmWindow">{{ confirmBtnText }}</button>
            </div>
        </div>
    </div>
</div>
