<div class="meat-selection" *ngIf="isVisible; else closed_tab">
    <div class="meat-selector">
        <div class="meat-selector-header" (click)="isVisible = !isVisible" >Wybierz rodzaj mięsa i dodatki</div>
        <div class="meat-selector-dropdown">
            <app-dropdown 
                [items]="allMeats"
                (selectedMeatId)="onMeatSelected($event, 'meat')"
                dropdownTag="'meat'"
                placeholder="mięso"
            ></app-dropdown>
            <input #weightInfo type="number" value="weightInfo.value" placeholder="gram"/>
            <button (click)="addMeatToList(weightInfo.value)">Dodaj</button>

            <app-dropdown 
                [items]="allTips"
                (selectedMeatId)="onMeatSelected($event, 'vege')"
                dropdownTag="'vege'"
                placeholder="dodatki"
            ></app-dropdown>
            <input #weightInfoVege type="number" value="weightInfoVege.value" placeholder="gram"/>
            <button (click)="addTipToList(weightInfoVege.value)">Dodaj</button>
        </div>
    </div>
    <div class="selected-meat-list">
        <app-selected-list 
            [header]="tableColumnsHeader"
            [content]="selectedMeats"
            [summary]="commonElements"
            (deleteItem)="onDeleteItem($event)"
        ></app-selected-list>
    </div>
    <div class="meat-selector-confirm-button"  *ngIf="selectedMeats.length">
        <button class="next-step-btn" (click)="onNextStepHandler(true)">Dalej (dodaj wagę)</button>
        <button class="next-step-btn" (click)="onNextStepHandler()">Dalej</button>
    </div>
</div>

<ng-template #closed_tab>
    <div class="meat-selector" (click)="isVisible = !isVisible">
        <div class="meat-selector-header">Wybierz rodzaj mięsa i dodatki</div>
    </div>
</ng-template>
